  
   .App {
      background-image: url("../../assests/thebg.png");
      font-family: 'Arial',apple-system,Courier New, Courier, monospace;; 
      text-align: center;
      height: 100%;
    } 
    